node_modules
package-lock.json
package.json
*/*.class

#unsolved problems. meh
find-the-duplicate-number
flatten-nested-list-iterator
last-stone-weight-ii
odd-even-linked-list
remove-duplicates-from-sorted-array